.excel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	.excel-dragger {
		max-width: 500px;
		max-height: 350px;
		width: 100%;
		height: 100%;
	}

	.button-return {
		position: absolute;
		top: 0;
		left: 0;
	}

	.popup-layout {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left:0;

		.popup-mask {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #fff;
			opacity: 0.2;
			transition: opacity .3s cubic-bezier(.4,0,.2,1);
			z-index: 1000;
		}

		.ant-spin {
			z-index: 1001;
		}

	}
	
}
