.sheet-container {
  font-size: 10px;
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  height: calc(100% - 100px);

}

.sheet-container ::-webkit-scrollbar-track{
  background-color: transparent !important;
  display: none;
}

.sheet-container ::-webkit-scrollbar-thumb {
  background-color: #d6dee1 !important;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.sheet-container ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf !important;
  display: initial;
}