@import '~antd/dist/antd.css';

body{
	overflow-x: hidden;
	overflow-y: hidden;
}

.App {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	height: 100%;
	width: 100vw;

	.app-menu {
		width: 120px;
	}
	
	.app-content {
		padding: 24px;
		overflow: hidden;
		height: calc(100% - 48px);
		width: 100%;
	}
}

.app-button {
	cursor: pointer;
	-webkit-app-region: no-drag;
	z-index: 1000;
	margin: 10px 5px;
	padding: 8px;
	font-size: 18px;
	border-radius: 4px;
	width: 45px;
	height: 34px;
}

.app-button:hover {
	background-color: rgba(128, 128, 128, 0.233);
}

.ant-card-body {
  padding: 16px;
}

th.ant-table-cell {
	max-width: 5%;
	word-break: keep-all !important;
	text-overflow: ellipsis !important;
}