body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.ant-table-body ::-webkit-scrollbar-track{
	background-color: transparent !important;
}

.ant-table-body ::-webkit-scrollbar-thumb {
	background-color: #d6dee1 !important;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

.ant-table-body ::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf !important;
}

body ::-webkit-scrollbar-track{
	background-color: transparent !important;
}

body ::-webkit-scrollbar-thumb {
	background-color: #d6dee1 !important;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

body ::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf !important;
}
